body{
	font-family: 'Lato', sans-serif;
	position: relative;
	background:#0f111d;
	line-height: 1.2em;
}
:root{
 --list-color:#fff;
 --tag-color:#556dff;
 --mark-color:#5582ff60;
 --mark-color-hack:#4077ff;
 --additional-html-theme:#0d43506f;
 --lightgreen:lightgreen;
 --console-message-bg:#24f2009f;
 --error:#ff1515c1;
 --another:#ff5415de;
 --coment-color:#eaffff9b;
}
[class*="__container"]{
   padding:10px;
   max-width:960px;
   margin:0px auto;
   position:relative;
   color:var(--tag-color);
}
.main{
   position: relative;
}
.main__container{
padding-top:80px;
}
.main__title{
   font-size:2.5rem;
   font-weight:700;
   color:#fff;
   margin-bottom:20px;
}
.main__title span{
 color:#ffe76a;
}
.main__subtitle{
position:relative;
   font-size:1.5rem;
   font-weight:400px;
   color:#d6d6d6;
}
.rules-list{
 margin-bottom:30px;
}
.rules-list__items{
 color:#fff;
 font-weight:700;
 margin-bottom:10px;
}
.rules-list__items span{
 font-weight:400;
font-size:1.2rem;
background:var(--mark-color);
margin-right:5px;
}
@keyframes rotate{
 0%{
  transform:rotate(2
   deg);
   color:#fffc6a;
 }
 50%{
  transform:rotate(0deg);
 }
 100%{
  transform:rotate(-2deg);
  color:#8083ff;
 }
}
.console{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
gap:30px;
}
.console__title{
 color:var(--list-color);
 font-weight:700;
 font-size:2em;
 line-height:1em;
}
.console__list{
position:relative;
z-index:0;
 display:flex;
 flex-direction:column;
 justify-content:flex-start;
 align-items:flex-start;
 gap:10px;
}
.console__item{
position:relative;
color:var(--list-color);
padding:5px 10px;
border-radius:2px;
border:1px solid var(--console-message-bg);
line-height:1.2em;
background:#3cff2b6a;
}
.console__item:hover::after{
  height:auto;
padding:2px 5px;
}
.console__item::after{
z-index:4;
position:absolute;
 height:0px;
overflow:hidden;
 content:'Правильний запис';
 background:#0dba00ee;
 font-size:.5rem;
 color:var(--list-color);
 top:100%;
 right:0px;
}
.console__coment{
 color:var(--coment-color);
 font-weight:300;
}
.console__coment i{
 color:var(--list-color);
 background:var(--mark-color);
}
.error{
position:relative;
 border:1px solid var(--error);
 background: #ff4a2b6a;
}
.error:hover::after{
 height:auto;
 z-index:10;
 padding:2px 5px;
}
.error::after{
height:0px;
padding:0px;
overflow:hidden;
 content:'Цей варіант неправильний (викличе помилку)';
 background:#ff2a15ee;
 font-size:.5rem;
 color:var(--list-color);
 position:absolute;
 top:30px ;
 right:0px;
}
.another{
position:relative;
z-index:2;
 border:1px solid var(--another);
 background: #ff69156a;
}
.another:hover::after{
 height:auto;
 z-index:10;
 padding:2px 5px;
}
.another::after{
z-index:4;
 height:0px;
padding:0px;
overflow:hidden;
 content:'Помилки не буде (відповідб буде іншою)';
 background:#ff6915ee;
 font-size:.5rem;
 color:var(--list-color);
 position:absolute;
 top:30px ;
 right:0px;
}